<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blognet</title>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>Blog Ninja</h1>
            </a>
            <p>A Ninja Net Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About US</h2>
        <p>node.js is the best for backending </p>
        <p>node.js is the best for backending </p>
        <p>node.js is the best for backending </p>
        <p>node.js is the best for backending </p>
        <p>node.js is the best for backending </p>
        <p>node.js is the best for backending </p>
        <p>node.js is the best for backending </p>
        <p>node.js is the best for backending </p>
    </div>
    </div>

</body>